<!-- slide begin -->
<div class="slideBox" id="slideDemo">
    <div class="detailBg1">
        <img class="detailBgImg1" src="/Public/wechat/img/detail_bg2.png" alt="">
    </div>
    <div class="detailBg2">
        <img class="detailBgImg2" src="/Public/wechat/img/detail_bg1.png" alt="">
    </div>
    <ul class="slide">

        <li><div class="lunboimg"><a href="#"><img src=http://img3.hiremeplz.com/./upload/20160727/file_20160727_OHEva0nWcTHPDs60p7R1xA2A9UV4BwDQDHLe8yBLSJ0VBxmr4ES1Ek1eFnIGjMXmU81s72Ep.jpg /></a></div></li>                <li><div class="lunboimg"><a href="#"><img src=http://img3.hiremeplz.com/./upload/20160727/file_20160727_b4Ld2x4wBmYG7pkddtjWFGJZfaRMDVCeqNRSLlPN8dTG3DjGw32Cac1QMj2PE5uviMOtx3H6.jpg /></a></div></li>                <li><div class="lunboimg"><a href="#"><img src=http://img3.hiremeplz.com/./upload/20160727/file_20160727_G0da4Wg1qJ31luhyeKOjfJeYVsSTWZp3q2DUpkmgtQHfLpepzs8fCMDXFVg2l5vbyzwojj5d.jpg /></a></div></li>                <li><div class="lunboimg"><a href="#"><img src=http://img3.hiremeplz.com/./upload/20160727/file_20160727_zcTK1xz1q7GskKPq6vSR1Nt0MpOw8j98WsioqhPgOW8z6opCjHTLVNb7Cq4b9DJwwskm9A3o.jpg /></a></div></li>                <li><div class="lunboimg"><a href="#"><img src=http://img3.hiremeplz.com/./upload/20160727/file_20160727_WBnsqcu9kOlF1Wd4MHGmLQiII3uh3X6pZTiPwcpgrbmSxZmK6txiJgqRJlzdJ529pKplnf2e.jpg /></a></div></li>                <li><div class="lunboimg"><a href="#"><img src=http://img3.hiremeplz.com/./upload/20160727/file_20160727_QOxOekYLdWtmCkEM5Dpf8SOY3EKQjcvzrsN5cchQybCBVGNrKC6iUlHnpRE8tA8lsmR5YymX.jpg /></a></div></li>                                
    </ul>
    <div class="imgFlashIco">
        <ul id="J-Touch-ico1"></ul>
    </div>
</div>
<!-- slide end -->