<div class="info">
    <div class="tips" style="color:#ffffff">TA的微信二维码</div>
    <div style="width: 200px;height:350px;position: relative;margin: 0 auto;">
        <img style="width: 200px;z-index: 1;position: absolute;left: 0px;top: 0px;" src="/Public/wechat/img/erweima-@2x.png" />
        <img style="z-index: 2;position: absolute;left: 30px;top: 140px;width: 140px;" src="http://img3.hiremeplz.com/upload/20150905/file_3gCZw2divD8X1S0rVD9G5ErL4KZIlMXvPF5Mze8lqy_BjLBqEzRzhVdQVyPrzvVt55ea826e7d826.jpg" />
        <div style="z-index: 3;position: absolute;left: 94px;top: 153px;width: 10px;height:10px;background-color: #ffbe33;border-radius: 50px;color: #ffbe33;"/>
        </div>
    </div>
</div>




<div class="info">
    <div class="tips" style="color:#ffffff">TA的微信二维码</div>
    <div style="width: 200px;height:350px;position: relative;margin: 0 auto;">
        <img style="width: 200px;z-index: 1;position: absolute;left: 0px;top: 0px;" src="/Public/wechat/img/erweima-@2x.png" />
        请搜索微信号13910276288            
        <div style="z-index: 3;position: absolute;left: 94px;top: 153px;width: 10px;height:10px;background-color: #ffbe33;border-radius: 50px;color: #ffbe33;"/>
        </div>
    </div>
</div>
